.projectsWrap {
  position: relative;
  height: 71vh;
  padding-top: 5vw;
}

.pjTitle {
  font-family: var(--font-nanumSqNeo);
  color: pink;
  font-size: 8vw;
  text-align: center;
}

#emptyBox {
  width: 10px;
  height: 10vw;
  background-color: pink;
  margin: auto;
}

#ulWrap {
  align-self: center;
}

.pjUl {
  /* padding-top: 6vw; */
  list-style: none;
}

.pjList {
  margin: 10px;
}

a.pjLink {
  color: #cfcccc;
  text-decoration: none;
  text-align: center;
  font-size: 2vw;
}