.menuText span{
    font-family: var(--font-nanumSqNeo);
    font-size: 1.5rem;
    justify-content: flex-end;
}

.menuText.Mui-selected{
    color:pink !important;
    font-weight: bold;
}

#loginBtn{
    min-width: 0px;
    background-color: #aba9a9;
    position: absolute;
    right: 0;
    margin: 10px 5px 5px 5px;
}

#loginBtn:hover{
    background-color: black;
    color:pink;
}